@model Cpanel.Models.ApplicationUser

@{
    ViewBag.Title = "ddd";
}

<h2>ddd</h2>

<div>
    <h4>ApplicationUser</h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
